body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
}
#main-container{
/* display: table; */

}
#top-container{
display: flex;
justify-content: flex-start;
height: 7vh;
}

.green-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 30%;
    
}

.yellow-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 100%;
}

.pink-background {
    background-color: fuchsia;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}