*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  background-color: rgb(49, 45, 45);
  color: white;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-left: 20px;
}

nav a:hover {
  background-color: #00aeff;
}

section {
  background-image: url(https://images8.alphacoders.com/115/thumb-350-1156488.png);
  background-repeat: repeat;
  /* background-position: 100%; */
  height: 20em;
  color:white;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoPerfil {
  width: 10%;
  border-radius: 50%;

  
}

footer {
  background-color: rgb(49, 45, 45);
  margin-top: 14.5vh;
}

.social {
  display: flex;
  justify-content: flex-end;
  padding: 1.5em;
}